<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="test.epam.course.action.ArithmeticalTest"/>
      <class name="test.epam.course.action.ReplacementTest"/>
      <class name="test.epam.course.action.SortTest"/>
      <class name="test.epam.course.action.FileTest"/>
    </classes>
  </test> 
</suite> 
