<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="by.epam.course.task1.action.ArithmeticalTestIntStream" />
      <class name="by.epam.course.task1.action.ArithmeticalTest" />
      <class name="by.epam.course.task1.action.ReplacementTest" />
      <class name="by.epam.course.task1.action.ReplacementTestIntStream" />
      <class name="by.epam.course.task1.action.SortTest" />
      <class name="by.epam.course.task1.action.SortTestIntStream" />
      <class name="by.epam.course.task1.action.FileTest" />
    </classes>
  </test>
</suite> 
